@{
    ViewBag.Title = "Pizzas To Do";
}

<h2>@ViewBag.Title</h2>

<table id="pizzasToDo" class="table table-striped">
    <thead>

    </thead>
    <tbody>

    </tbody>
</table>

@section scripts {
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">

    function newPizzasToPrepare(commandId) {
        $.get(
            '@Url.Action("PizzasToDo", "Totem", new{ commandId = "__commandId__" })'.replace('__commandId__', commandId)
            , function (r) {
                var tbody = $("#pizzasToDo tbody");

                $(r).each(function (i, item) {
                    tbody.append("<tr><td>" + item.CommandId + "</td><td>" + item.Name + "</td><td>" + item.City + "</td><td>" + item.Description + "</td><td>" + item.Quantity + "</td></tr>");
                });
            }
        );
    }

    $(function () {

        var totem = $.connection.totemHub;
        totem.client.newPizzasToPrepare = newPizzasToPrepare;

        $.connection.hub.start().done(function () {
        });

    });

</script>
}